<section id="nosotros">
    <h1 class="titulo">Nosotros</h1>

        <a href="/astroBase/nosotros" class="btn">ir a nosotros</a>

    
</section>

<style>
    #nosotros{
        min-height: 500px;
        text-align: center;
    }
</style>