<section id="servicios">
    <h1 class="titulo">Servicios</h1>
    <a href="/astroBase/servicios" class="btn">ir a servicios</a>
</section>
<style>
    #servicios{
        min-height: 700px;
        text-align: center;
    }
</style>