---
import Layout from '../layout/Layout.astro';
import Hero from '../components/main/Hero.astro';
import Contactos from '../components/main/Contacto.astro';
---
<Layout>
    <div>
        <h1>Pagina Servicios</h1>
    </div>
	
</Layout>
<style>
    div{
        height: 100vh;
    }
    h1{
        font-size: 3em;
        text-align: center;
        margin-top: 50px;
        color: #ecf0f1;
        text-shadow: 2px 2px  4px #202020;
        font-family:fantasy;
        letter-spacing: 2px;
    }
</style>