<footer>
    <div>
        logo
    </div>
    <div>
        col 1
    </div>
    <div>
        col 2
    </div>
    <div>
        col 3
    </div>
</footer>
<style>
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
</style>