---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
        	<slot/>
		<Footer/>
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
	body{
		background-color: #3498db;
		color:#ecf0f1;
	}
	.titulo{
        font-size: 2em;
        text-align: center;
        padding: 50px;
    }
	
</style>
